<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>現在メンテナンス中です。</title>
</head>

<body>
    <h1>現在メンテナンス中です。</h1>
    <p>ご不便おかけします。しばらくお待ちください。
    </p>
</body>

</html>